<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>
            <h2>404</h2>
        </mat-card-title>
        <mat-card-subtitle>aka "nóis num achemo"</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/img/404-generic.jpg" alt="404">
    <mat-card-content class="text-center">
        <p>
            Desculpe companheiro, não achamos o conteúdo que você requisitou.
        </p>
        <p>
            <a routerLink="/app/home">Que tal voltar à Home?</a>
        </p>
    </mat-card-content>
</mat-card>