<div fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="10px">
    <div fxFlex>
        <button mat-raised-button (click)="onClickGoBack()">
            <mat-icon>arrow_left</mat-icon> Voltar
        </button>
    </div>
</div>

<div fxLayout="row" fxLayoutGap="10px" class="m-t-lg">
    <mat-card class="full-width">
        <mat-card-title>
            {{modoEditor}} de Usuário
        </mat-card-title>

        <form class="m-t" [formGroup]="frmUsuario" (submit)="onFormSubmit()">

            <div fxLayout="row" fxLayoutGap="10px grid">
                <div fxFlex="10">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Id</mat-label>
                        <input matInput formControlName="id">
                    </mat-form-field>
                </div>
                <div fxFlex="30">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nome</mat-label>
                        <input matInput formControlName="nome">
                    </mat-form-field>
                </div>
                <div fxFlex="60">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>E-Mail</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayou="row" fxLayoutGap="10px grid">
                <div fxFlex="40">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="tipo">
                            <mat-option value="">
                                Selecione...
                            </mat-option>
                            <mat-option value="ADMINISTRADOR">
                                Administrador
                            </mat-option>
                            <mat-option value="MORADOR">
                                Morador
                            </mat-option>
                            <mat-option value="SINDICO">
                                Sindico
                            </mat-option>
                            <mat-option value="ZELADOR">
                                Zelador
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxFlex="60">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Condomínio</mat-label>
                        <mat-select formControlName="condominioId">
                            <mat-option value="">
                                Selecione
                            </mat-option>
                            <mat-option *ngFor="let condominio of condominios" [value]="condominio.id">
                                {{condominio.nome}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayoutGap="10px">
                <div fxFlex>
                    <button mat-raised-button color="primary" type="submit">
                        <mat-icon>save</mat-icon> Salvar
                    </button>
                </div>
            </div>
        </form>

    </mat-card>
</div>