<div fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="10px">
    <div fxFlex>
        Listagem de Usuários
    </div>
    <div fxFlex class="text-right">
        <button mat-raised-button color="primary" (click)="onClickCreateNew()">
            <mat-icon>add</mat-icon> Novo
        </button>
    </div>
</div>

<div fxLayout="row wrap" class="m-t" fxLayoutGap="10px">
    <div fxFlex="">
        <table mat-table [dataSource]="usuariosDs" class="mat-elevation-z8 full-width">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell style="width: 10%" *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell style="width: 20%" *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="condominioId">
                <th mat-header-cell *matHeaderCellDef> Onde mora </th>
                <td mat-cell style="width: 20%" *matCellDef="let element"> {{element.condominioNome}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell style="width: 15%" *matCellDef="let element">
                    <button mat-raised-button class="m-r" (click)="onClickEdit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-raised-button color="warn" (click)="onClickConfirmDelete(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>
</div>